.navbar {
  display: flex;
  height: 140px;
  position: sticky;
  top: 0;
  z-index: 99999;
}

.left,
.right,
.center {
  display: flex;
  flex: 1;
  align-items: center;
}

.left {
  padding-left: var(--space-md);
}

.center {
  justify-content: center;
}

.right {
  padding: var(--space-md);
  justify-content: flex-end;
}

.logo {
  width: clamp(150px, 10vw, 210px);
  height: auto;
  object-fit: contain;
  transform: rotate(-20deg);
  transition: all 0.25s ease;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.book {
  width: clamp(60px, 5vw, 85px);
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.05);
}
