.section {
  width: 100%;
  height: auto;
}

.content {
  position: absolute;
  inset: 0;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem;
  cursor: pointer;
}

.content h2 {
  color: var(--color-tertiary);
}

.content h2:hover {
  color: var(--color-secondary);
}
